*.o
*/*/*.o
*.lo
*.la
*.pc
*~
*.sig
*.tar.*
*.announce
*.orig
*.patch
*.rej
*.trs
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
check_libinotify
compat/.deps/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
inotify-test
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
stamp-h1
tests/.deps/
tests/.dirstamp
tests/core/.deps/
tests/core/.dirstamp
